header{
    background-color: #eef2f6;
    padding: 10px;
}
.user{
    border: 2px solid black;
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}
strong{
    font-size: 17px;
    font-weight: 400;
}
.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:10px;
    left: 20px;
    color: #9ca3af;
}
.form input::placeholder{
    text-align:end;
}
.tot{
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid gray;
    font-size: 12px;
    border-radius: 50%;
    display:block;
    top: 4px;
    position: fixed;
    background-color: rgb(185, 72, 31);
    color: white;
}
.color{
    background-color: orangered;
    color: white;
}
a{
    text-decoration: none;
}
.num{
    border: none;
    border-bottom: 1px solid gray;
    /* padding-bottom: 10px; */
}
/* .modal-body{
    margin: 0;
    padding: 0;
} */