<div class="container-fluid footer p-3 mt-4 bg-dark text-white">
    <div class="row mt-3">
        <div class="col-2">
            <h6>About</h6>
            <ul>
                <li>Contact Us</li>
                <li>About Us</li>
                <li>Careers</li>
                <li>Flipkart Stories</li>
                <li>Press</li>
                <li>Corporate info</li>
            </ul>
        </div>
        <div class="col-2">
            <h6>Group Companies</h6>
            <ul>
                <li>Myntra</li>
                <li>Cleratrip</li>
                <li>Shopsy</li>
            </ul>
        </div>
        <div class="col-2">
            <h6>Help</h6>
            <ul>
                <li>payments</li>
                <li>Shipping</li>
                <li>Cancellation & </li>
                <li>Returns</li>
                <li>FAQ</li>
                <li>Report Infringement</li>
            </ul>
        </div>
        <div class="col-2">
            <h6>Consumer policy</h6>
            <ul>
                <li>Cancellation &</li>
                <li>Returns</li>
                <li>Terms Of Use</li>
                <li>Security</li>
                <li>Privacy</li>
                <li>Sitemap</li>
                <li>Grievance</li>
                <li>Redressal</li>
                <li>EPR Compliance</li>
            </ul>
        </div>
        <div class="col-2">
            <h6>Mail Us</h6>
            <ul>
                <li>Flipkart lnternet</li>
                <li>Buildings Alyssa</li>
                <li>Clove Embassy</li>
                <li>Outer Ring Road</li>
                <li>Bengaluru,560103</li>
                <li>Karnatka,India</li>
            </ul>
        </div>
        <div class="col-2">
            <h6>Register Office Address</h6>
            <ul>
                <li>Flipkart Internet Private Limited,</li>
                <li>Buildings Alyssa,Begonia &</li>
                <li>Clove Embassy Tech village</li>
                <li>Outer Ring Road, Devarabeesanahalli</li>
                <li>Bengaluru,560103</li>
                <li>Karnatka,India</li>
                <li>CIN:U51109KA2012PTC066107</li>
                <li>Telephone:044-45614700</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2"> <i class="fa-solid fa-store" style="color: #FFD43B;"></i> Become a Seller</div>
        <div class="col-2"><i class="fa-solid fa-star-half-stroke" style="color: #FFD43B; width: 5px; margin:0 5px;"></i> Advertise</div>
        <div class="col-2"><i class="fa-solid fa-gift" style="color: #FFD43B;"></i> Gift Cards</div>
        <div class="col-2">	&#169; Help Center</div>
        <div class="col-2"> 2007-2024 Flipkart.com</div>
        <div class="col-2"></div>
    </div>
</div>


